@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
}
.container .left{
    flex:1;
    width: 40vw;

}
.container .left img{
    width: 75%;
}
.container .right{
    flex: 1;
}
.container .right div{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.container .right h1{
    font-size: 3rem;
    font-family: "Poppins";
}